/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* code */

:root {
  --dark: #261d01;
  --light: #f2cb57;
  --brown: #403501;
}

body {
  background-color: var(--dark);
}

* {
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

.container > div {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
  white-space: normal;
}

.container .right,
.container .image {
  width: 50%;
  height: inherit;
}

.image {
  height: 100%;
  background-image: url(./image/Soap-bubbles-MaxPixel.net_.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right {
  background-color: white;
  padding: 1em;
  position: relative;
}
.right .wrapper {
  position: absolute;
  width: 100%;
}

.right img {
  width: 40px;
}

.right h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  width: 60%;
}

.right p {
  color: rgb(148, 137, 137);
  font-size: 0.6rem;
}

form {
  margin-top: 1.5em;
}

form input {
  margin-bottom: 1em;
  border: 1px solid lightgray;
  width: 60%;
  padding: 0.5em;
  display: block;
}

button {
  width: 60%;
  border-radius: 5px;
  color: white;
  background-color: var(--brown);
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

button:hover {
  color: var(--dark);
  background-color: var(--light);
}
